<div class="conteiner">
  <div class="row">
    <div class="col text-center" *ngIf="featuredPost">
      <app-single-post [post]="featuredPost"></app-single-post>
    </div>
  </div>
</div>

<div class="container mt-3 text-center" *ngIf="posts.length > 0">
  <div class="row">
    <div class="col" *ngFor="let post of posts">
      <app-single-post [post]="post"></app-single-post>
    </div>
  </div>
</div>

<div class="container mt-3 text-center">
  <h2 class="text-center my-5">TUTTI I POST</h2>
  <div class="row gap-4 justify-content-center">
    <div class="col-4" *ngFor="let post of postsOrd">
      <app-single-post [post]="post">
        <form>
          <div
            class="d-flex flex-column justify-content-center align-content-center"
          >
            <label class="my-2" for="post-title-{{ post.id }}">Title:</label>
            <input
              type="text"
              [(ngModel)]="post.title"
              name="title"
              id="post-title-{{ post.id }}"
            />

            <label class="my-2" for="post-body-{{ post.id }}">Body:</label>
            <textarea
              [(ngModel)]="post.body"
              name="body"
              id="post-body-{{ post.id }}"
            ></textarea>

            <label class="my-2" for="post-active-check-box-{{ post.id }}"
              >Active</label
            >
            <input
              [(ngModel)]="post.active"
              type="checkbox"
              name="active"
              id="post-active-check-box-{{ post.id }}"
            />
          </div>
        </form>
      </app-single-post>
    </div>
  </div>
</div>
